---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import PromoGroup from '../components/PromoGroup.astro';
import Map from '../components/Map.astro';
import Agenda from '../components/Agenda.astro'; // <--- Importamos Agenda
import Footer from '../components/Footer.astro'; // <--- Importamos Footer
import CanteraPromo from '../components/CanteraPromo.astro';
---

<Layout title="Casas Sadasi Chalco | Tu Nuevo Hogar">
	<Header />
	
	<main>
		<CanteraPromo />
		<Hero />
		<Benefits />
		<PromoGroup />
		<Map />
		<Agenda /> 
	</main>

	<Footer />
 </Layout>